@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gidole&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

#slogan {
    display: flex;
    align-items: end;
    margin-left: 10px;
    font-size: x-large;
    color: black;
    font-family: "Noto Serif", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#appearing-logo {
    display: flex;
    align-items: center;
    font-family: "Dancing Script", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    color: gold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
    transition: 0.5s;
    user-select: none;
    margin-left: 5px;
    cursor: pointer;
}

#appearing-logo:hover {
    color: black;
}

#appearing-logo:active {
    color: black;
}

button {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 0;
    justify-content: center;
    background-color: gold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: larger;
    padding: 5px 15px;
    border-width: 1px 3px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    white-space: nowrap;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.06);
    size: 20px;
    cursor: pointer;
}

button:active {
    background-color: rgb(105, 89, 0);
    transition: 0.3s;
}

header {
    position: sticky;
    top: 0px;
    display: flex;
    background-color: black;
    background-color: gold;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

#title {
    font-family: "Dancing Script", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin: 5px 0px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
    user-select: none;
    background: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
    border: 4px dashed black;
}

.dancing-script-title-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#menu-item {
    border: 1px solid gold;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#food-title {
    font-weight: 900;
    font-family: "Oswald", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#food-para {
    text-align: left;
    font-family: "Noto Serif", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

#food-img {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: auto;
}

#price-div-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: start;
    justify-content: end;
}

#about-para {
    font-family: 'Courier New', Courier, monospace;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    padding:10px;
}
#store-hours>div{
    margin: 2rem 0rem;
}
#store-hours:last-child{
    margin-bottom: 1rem;
}