@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gidole&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    background-color:gold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: larger;
    padding: 5px 15px;
    border-width: 1px 3px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    white-space: nowrap;
    border-radius: 10px;
    transition:0.2s;
}

button:hover{
    transform: scale(1.06);
    size: 20px;
}
button:active{
    background-color: rgba(255, 217, 0, 0.729);
    transition:0.3s;
}

header {
    background-color: black;
    padding: 5px;
    margin: 0px 1.1rem;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#title {
    font-family: "Dancing Script", serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    margin:5px 0px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: black;
    user-select: none;
    background: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);   
    border: 4px dashed black;
}


.dancing-script-title-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
